body {
    font-family: "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
.main-container {
  display: flex;
  flex-direction: row;
  height: 100dvh;
  overflow: hidden;
}
